/*------------------------------------------------*/
/* BASIC SETUP */
/*------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f7f7f7;
}

html,
button,
input {
    background-color: #ffffff;
    color: #383838;
    font-family: "Comfortaa", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.563;
    text-rendering: optimizeLegibility;
}

/*------------------------------------------------*/
/* FORM */
/*------------------------------------------------*/

form {
    background-color: #ffffff;
    margin: 50px auto;
    width: 800px;
    min-height: 200px;
    text-align: center;
    padding: 30px 0;
    border-radius: 10px;
    box-shadow: 0 10px 36px 4px rgba(196, 196, 196, 0.23);
}

h1 {
    font-size: 28px;
}

.contact-title svg {
    width: 32px;
    height: 32px;
    padding: 7px;
    background-color: #D7BDE2;
    border-radius: 50%;
}

.contact-fields {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.contact-fields p {
    flex-basis: 300px;
    margin: 20px auto 0;
}

.contact-fields mark {
    background-color: #ffffff;
    color: red;
}

.field-item {
    display: flex;
    justify-content: space-between;
}

.field-item input {
    width: 190px;
    min-height: 30px;
    border-radius: 3px;
    border: 1px solid #919191;
    padding: 1px 5px;
}

.field-item input:focus {
    outline: 1px solid #ac60c9;
    border-color: transparent;
}

.birthday-field {
    position: relative;
}

.button {
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button svg {
    width: 22px;
    height: 22px;
}

.calendar-btn {
    position: absolute;
    top: 3px;
    right: 3px;

}

.create-contact {
    width: 120px;
    height: 40px;
    background-color: #7D3C98;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 14px 27px 3px rgba(220, 95, 176, 0.3);
    transition: background-color 0.2s;
    outline: none;
}

.create-contact:hover,
.create-contact:active {
    background-color: #6C3483;
}

/*------------------------------------------------*/
/* CONTACT CARDS */
/*------------------------------------------------*/

.contact-cards {
    width: 1200px;
    margin: 50px auto;

    box-shadow: 0 10px 36px 4px rgba(196, 196, 196, 0.23);

}

.contact-nav {
    min-height: 30px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 10px 36px 4px rgba(196, 196, 196, 0.23);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-nav {
    position: relative;
}

.search-item {
    border: none;
    border-radius: 3px;
    background-color: #f4f4f4;
    outline: none;
    padding: 0 5px 0 30px;
    margin-right: 20px;
}

.search-item::placeholder {
    font-size: 14px;
}

.fa-search {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 3px;
    left: 5px;
}

.grid-btn,
.list-btn {
    border-radius: 3px;
    border: 1px solid #cccccc;
    margin: 5px 10px 5px 5px;

    color: #9B59B6;
}

.grid-btn.active,
.list-btn.active {
    color: #f7f7f7;
    background-color: #9B59B6;
}

.grid-btn svg,
.list-btn svg {
    width: 20px;
    height: 20px;
    padding-top: 3px;
    padding-right: 1px;
}

.contact-items.grid {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

figure {
    background-color: #ffffff;

    padding: 20px;
    margin: 0 12px 30px;
    border-radius: 7px;
    box-shadow: 0 10px 36px 4px rgba(196, 196, 196, 0.23);
    position: relative;
}

.contact-items.list {
    padding-bottom: 5px;
}

.list figure {
    display: flex;
    justify-content: flex-start;
    flex-basis: 300px;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.list .name-card-item {
    width: 35%;
    margin-bottom: 0;
    align-items: center;
}

.list .name-card-item svg {
    width: 40px;
    height: 40px;
    padding: 7px;
}

.list .full-name {
    display: flex;
    flex-wrap: wrap;
}

.first-name {
    margin-right: 7px;
}

.list .birthday-item {
    width: 295px;
    margin-right: 50px;
}

.grid figure {
    flex-basis: 275px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.grid figure:nth-child(-n+4) {
    margin-top: 30px;
}

.name-card-item {
    display: flex;
    margin-bottom: 15px;
    font-weight: 600;
}

.card p a {
    text-decoration: none;
    color: #9B59B6;

}

.name-card-item div {
    align-self: center;
}

.name-card-item svg {
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #e3e3e3;
}

.close-btn {
    width: 28px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    outline-color: transparent;
    position: absolute;
    right: 10px;
}

.close-btn svg {
    width: 20px;
    height: 20px;
}

.grid .close-btn {
    top: 10px;
}

.list .close-btn {
    top: 15px;
}

/*# sourceMappingURL=/style.e308ff8e.css.map */